body{
	background: black;
}
.search-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.search-input{
	width: 160px;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ddd;
	border-radius: 25px;
	transition: width 0.4s ease-in-out;
}

.search-input:focus{
	width: 240px;
	border-color: #007bff;
	outline: none;
}